
@import "./modulos/_btn.css";

/* Styles */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: "Lobster";
    background: radial-gradient(ellipse at center,
                                 #9accee 4%,
                                 #005b66 100%);
                                
}

main {
    width: 100%;
    /* min-width: 30%; */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

h1 {
    text-align: center; 
    margin: .4em 0;
    font-family: 'Lobster';
    font-size: 3rem;
    color: #fff;
    text-shadow: 3px 2px 2px #002F35;
}

h2 {
    margin-top: 0;
    margin-bottom: .3em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ffa500;
    color: #2c2c2c;
    padding: .5em 1em;
    font-size: 2rem;
    text-align: center;
}

h3 {
    text-align: center;
    border: 3px dashed #000;
    padding: 1em;
}

/* Formulario */
form {
    width: 60%;
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    box-shadow: 0px 4px 48px -4px rgba(0, 0, 0, .6  );
}

form#login {
    width: 60vh;
}
.inputs-container {
    margin: 1em 3em;
    display: grid;
    grid-gap: 1em;
    align-items: center;
}

input, button {
    padding: .6em 0;
    border-radius: 3px;
    border: 0;
}

input {
    text-indent: 10px;
    outline: none;
    transition: all .2s;
    font-family: Raleway;
}

form > h2, .inputs-container > button {
    grid-column: span 2;
}

input:focus {
    border-left: 10px solid #ffa500;
}

a#registrarse, a#login {
    display: block;
    text-align: center;
    background-color: #2c2c2c;
    font-size: 1.2rem;
    font-family: 'Lobster';
    font-weight: 700;
    color: #ffffff;
    border: 0;
    outline: none;
    transition: all .1s;
    cursor: pointer;
    padding: .5em 0;
}

a#registrarse {
    border-radius: 5px;
}
a#login {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

a#registrarse:hover {
    transform: scale(1.02);
    background-color: #006aff;
    color: #fff;
    text-shadow: 3px 2px 2px #000;
}

/* Errores */
ul.errores-formulario {
    width: 70%;
    margin: 0 auto 1em auto;
    padding: 0;
    font-family: 'Raleway';
    color: #ff0000;
    font-size: 1.1rem;
    font-weight: 500;
    list-style: none;
}


