
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-areas: 
        "operaciones main";

    background: radial-gradient(ellipse at center,
        #9accee 4%,
        #005b66 100%);
    background-repeat: no-repeat;
    
}

aside.operaciones { 
    grid-area: operaciones;
    background-color: #f7f7f7;
    border-left: .8em solid #ffa500;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 3px -2px 31px 8px rgba(0,0,0,0.4);
}

.cabecera {
    flex: 0;
    text-align: center;
    padding: 1em;
    border-bottom: 3px dashed #000;
}

.cabecera > img {
    width: 60%;
    max-width: 5em;
}

.cabecera > h2 {
    margin: 0;
    font-family: Lobster;
}

.control {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

.control-2 {
    flex: 0;
    display: flex;
    flex-flow: column nowrap;
}

.vacio {
    flex: 3;
}

.control > a {
    flex: 1;
    padding: 1em 0;
    background-color: #ffa500;
    font-family: Lobster;
    text-align: center;
    background-color: rgb(87, 87, 87);
    font-size: 1.1rem;
    color: #fff;
    text-shadow: 3px 2px 2px #002F35;
    transition: all .2s ease-out;
}

.control > a:hover {
    background-color: #005c68;   
}

main {
    grid-area: main;
    padding: 2em;
    overflow: auto;
}

button {
    background-color: #ffa500;
    font-size: 1.2rem;
    font-family: 'Lobster';
    font-weight: 700;
    color: #2c2c2c;
    border: 0;
    outline: none;
    transition: all .1s;
    cursor: pointer;
}