button {
    background-color: #ffa500;
    font-size: 1.2rem;
    font-family: 'Lobster';
    font-weight: 700;
    color: #2c2c2c;
    border: 0;
    outline: none;
    transition: all .1s;
    cursor: pointer;
}

button#inicio {
    grid-column: span 1;
}

button:active {
    transform: scale(.98);
}

button.animado:hover {
    transform: scale(1.02);
    background-color: #006aff;
    color: #fff;
    text-shadow: 3px 2px 2px #000;
}