
.listado {
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    visibility: hidden;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "caratula juego juego juego"
        "caratula descripcion descripcion1 botones";
    min-height: 12em;
    max-height: 12em;
    background-color: #ebebeb;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
}

.item:not(:last-child) {
    margin-bottom: 15px;
}

.item-img-container {
    height: 10em;
    grid-area: caratula;
}

.item-img-container img {
    width: 7.5em;
    height: 10em;
    margin-right: 10px;
    margin-left: 2em;
}   

.item-description {
    grid-area: descripcion;
}
.item-description1 {
    grid-area: descripcion1;
}
.item-botones {
    grid-area: botones;
}
.item-titulo{
    grid-area: juego;
}


.item-titulo h3 {
    margin-bottom: 0;
}

.item-titulo h3 label {
    margin-left: 3em;
}

.item-description p {
    margin-top: 10px;
}